/* RESET CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: 'Kanit';
  font-size: 13px;
  line-height: 2em;
  color: #FFF;
}
/* / RESET CSS */

/* UTILITY CSS */
.flx {
  display: flex;
}

.centered {
  align-items: center;
  justify-content: center;
}

.kern16 > * {
  margin-right: 10px;
}
/* / UTILITY CSS */

/* APP CONTAINERS */
.wrapper {
  background-image: url('../img/00-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.bg-gradient-page{
  background: linear-gradient(#000, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95));
  height: 100%;
}

.container {
  width: 1200px;
  margin: auto;
}

/* / APP CONTAINERS */

header {
  padding: 30px 0;
  justify-content: space-between;
}

.logo img {
  max-height: 50px;
}

.searchbar input:focus, .searchbar button{
  outline: none;
}

.searchbar input, .searchbar button{
  padding: 6px;
  border: 0;
  border-radius: 8px;
}

.searchbar button{
  color: #C0C0C0;
  background-color: #DC1A28;
}


.search-list-title {
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: 1px solid #FFF;
  margin-bottom: 15px;
}

.search-list ul {
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.search-list li {
  width: calc(90% / 4);
  height: 380px;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 1px 18px #000;
}

.search-list img {
  width: 105%;
}

.search-list li:hover .search-data{
  opacity: 1;
}

.search-list li:hover{
  border: 1px solid #C00000;
  box-shadow: 2px 2px 30px #000;
}

.search-list li:hover img {
  filter: blur(3px);
}

.search-data {
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  opacity: 0;
  z-index: 100;
  transition: 0.5s;
}

.flag {
  display: block;
  width: 30px;
  height: 20px;
	position: relative;
}

.flag:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100% 100% !important;

}
