* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #535D65;
  font-family: 'Kanit';
  font-size: 13px;
  line-height: 2em;
  color: #FFF;
}

.flx {
  display: flex;
}

.centered {
  align-items: center;
  justify-content: center;
}

.kern16 > * {
  margin-right: 10px;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header {
  background-color: #191919;
}

header .container {
  justify-content: space-between;
}

.logo {
  color: #DC1A28;
  text-transform: uppercase;
  font-size: 1.8em;
}

.searchbar input:focus, .searchbar button{
  outline: none;
}

.searchbar input, .searchbar button{
  padding: 6px;
  border: 0;
  border-radius: 8px;
}

.searchbar button{
  color: #C0C0C0;
  background-color: #DC1A28;
}


.search-list-title {
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: 1px solid #FFF;
  margin-bottom: 15px;
}

.search-list ul {
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.search-list li {
  width: calc(90% / 5);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.search-list img {
  width: 90%
}

.flag {
  display: block;
  width: 30px;
  height: 20px;
	position: relative;
}

.flag:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100% 100% !important;

}
