<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML/CSS/JAVASCRIPT - VUEJS [Boolflix]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts link -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- Fontawesome Icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <!-- VueJS framework link -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Axios request link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flags.css">
    <link rel="icon" href="img/00-ico.png">
  </head>
  <body>

    <div id="app" class="wrapper">
      <div class="bg-gradient"></div>
      <!-- Header -->
      <header class="container flx">
        <div class="logo">
          <img src="img/00-logo.png" alt="Logo">
        </div>
        <div class="searchbar kern16">
          <input v-model="query" v-on:keyup.enter="getSearch()">
          <button @click="getSearch()">cerca</button>
        </div>
      </header>
      <!-- / Header -->

      <!-- Main Content -->
      <main class="container">
        <!-- Result list -->
        <div class="search-list">
          <h2 class="search-list-title">All results</h2>
          <ul class="flx">
            <!-- result element -->
            <li v-for="item in results" class="search-element">
              <img v-if="item.poster_path" :src="'https://image.tmdb.org/t/p/w342/' + item.poster_path" alt="poster">
              <img v-else src="img/01-poster.jpg" alt="poster">
              <div class="search-data flx centered">
                <h3 v-if="item.title">{{item.title}}</h3>
                <h3 v-if="item.name">{{item.name}}</h3>
                <div>
                  <i v-if="item.title">{{item.original_title}}</i>
                  <i v-if="item.name">{{item.original_name}}</i>
                </div>
                <div class="flx centered">
                  Language:
                  <i :class="'flag ' + item.original_language"></i>
                </div>
                <div>
                  Voto:
                  <i v-for="num in 5" :class="getVote(item.vote_average, num) + ' fa-star'"></i>
                </div>
              </div>
            </li>
            <!-- / result element -->
          </ul>
        </div>
        <!-- / Result list -->
      </main>
      <!-- / Main Content -->
    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
  </html>
